<%-include('partials/header') %> <%-include('partials/sideMenu') %>
<section>
  <script src="/js/script.js"></script>
  <h1 id="user">Hello <%= user %>!</h1>
  <h2>Please fill out the following form</h2>

  <form name="giveawayPet" onsubmit="return validation_GiveawayPet()" method="post">
    <label class="prompt"> What animal would you like to give away : </label>
    <label for="cat">
      <input type="radio" name="animal" id="cat" value="cat" />
      Cat
    </label>
    <label for="dog">
      <input type="radio" name="animal" id="dog" value="dog" />
      Dog
    </label>
    <br />
    <br />
    <label class="prompt">What breed is the animal : </label>
    <select name="breed" id="breed">
      <option value="mix" selected="selected">Mix breed</option>
      <option value="siamese">Siamese Cat</option>
      <option value="maine-coon">Maine Coone cat</option>
      <option value="persian">Persian cat</option>
      <option value="british-shorthair">British Shorthair cat</option>
      <option value="ragdoll">Ragdoll cat</option>
      <option value="golden">Golden Retriever dog</option>
      <option value="german-shepherd">German Shepherd dog</option>
      <option value="labrador">Labrador Retriever dog</option>
      <option value="bulldog">French Bulldog</option>
    </select>
    <br />
    <br />
    <label class="prompt">How old is the animal : </label>
    <select name="age" id="age">
      <option value="0 to 6 months" selected="selected">0 to 6 months</option>
      <option value="7 months to 2 years">7 months to 2 years</option>
      <option value="3 to 6 years">3 to 6 years</option>
      <option value="7 to 10 years">7 to 10 years</option>
      <option value="11 to 14 years">11 to 14 years</option>
      <option value="15 years and older">15 years and older</option>
    </select>
    <br />
    <br />
    <label class="prompt"> What gender is the animal : </label>
    <label for="male">
      <input type="radio" name="gender" id="male" value="male" />
      Male
    </label>
    <label for="female">
      <input type="radio" name="gender" id="female" value="female" />
      Female
    </label>
    <br />
    <br />
    <label class="prompt"> Does the animal get along with other dogs : </label>
    <label for="along-dog-yes">
      <input type="radio" name="along_dog" id="along-dog-yes" value="yes" />
      Yes
    </label>
    <label for="along-dog-no">
      <input type="radio" name="along_dog" id="along-dog-no" value="no" />
      No
    </label>
    <br />
    <br />
    <label class="prompt"> Does the animal get along with other cats : </label>
    <label for="along-cat-yes">
      <input type="radio" name="along_cat" id="along-cat-yes" value="yes" />
      Yes
    </label>
    <label for="along-cat-no">
      <input type="radio" name="along_cat" id="along-cat-no" value="no" />
      No
    </label>
    <br />
    <br />
    <label class="prompt"> Is the animal suitable for a family with small children : </label>
    <label for="along-children-yes">
      <input type="radio" name="along_children" id="along-children-yes" value="yes" />
      Yes
    </label>
    <label for="along-children-no">
      <input type="radio" name="along_children" id="along-children-no" value="no" />
      No
    </label>
    <br />
    <br />
    <label class="prompt"> Anything else we should know about the animal : </label>
    <br />
    <label for="comments-area">
      <textarea name="comments_area" id="comments-area" rows="4" cols="50"></textarea>
    </label>
    <br />
    <label class="prompt">The current owner's full name :</label>
    <label for="name">
      <input type="text" name="name" id="name" />
    </label>
    <br />
    <br />
    <label class="prompt">The current owner's email :</label>
    <label for="email">
      <input type="email" name="email" id="email" />
    </label>
    <br />

    <br />
    <input type="submit" value="Submit" />
    <input type="reset" value="Clear" />
  </form>
  <% if(typeof message !== 'undefined') {%>
  <p class="msg"><%= message%></p>
  <% }%>
</section>
<%-include('partials/footer') %>
